
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
	<link rel="stylesheet" href="/public/stylesheet/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">

						<div class="login-wrap p-4 p-lg-5 order-md-last">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Add User</h3>
									<p style=" font-size: large; color:red ;"><%=wrong%></p>
									<p style=" font-size:larger; color:rgb(8, 232, 38) ;"><%=wrongr%></p>
								</div>
							  <div class="w-100">
							  </div>
							</div>
							<form action="/admin/new-user" method="post" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name">User name</label>
									<input type="text" class="form-control" placeholder="Username" name="name" required >
								</div>
								<div class="form-group mb-3">
									<label class="label" for="email">User email</label>
									<input type="text" class="form-control" placeholder="Username" name="email" required>
								</div>
							  	<div class="form-group mb-3">
								  <label class="label" for="password">Password</label>
								  <input type="password" class="form-control" placeholder="Password" name="password" required >
							  	</div>
							  	<div class="form-group">
								  <button type="submit" class="form-control btn btn-primary submit px-3">Add User</button>
                                  <a href="/admin/home">Back To Home</a>
							  	</div>
							</form>
		        		</div>
		      		</div>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>




