<!DOCTYPE html>
<html lang="zxx">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>House Deco</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link
      rel="shortcut icon"
      href="/public/asset/images/favicon.ico"
      type="image/png"
    />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  -->

      
    <link rel="stylesheet" href="/public/asset/css/vendor/vendor.min.css" />
    
    <link rel="stylesheet" href="/public/asset/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="/public/asset/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    
   
  </head>

  <body>
    
    <!-- Start Header Area -->
    <header class="header-section d-none d-xl-block">
      <div class="header-wrapper">
        <div
          class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden"
        >
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-12 d-flex align-items-center justify-content-between"
              >
                <!-- Start Header Logo -->
                <div class="header-logo">
                  <div class="logo">
                    <a href="index.html"
                      ><img src="assets/images/logo/logo_black.png" alt=""
                    /></a>
                  </div>
                </div>
                <!-- End Header Logo -->

                <!-- Start Header Main Menu -->
                <div
                  class="main-menu menu-color--black menu-hover-color--golden"
                >
                  <nav>
                    <ul>
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li>
                        <a href="/product-display">All Product</a>
                      </li>
                      <li>
                        <!-- <a href="/product-details"> Product Details</a> -->
                      </li>
                      <!-- <li class="has-dropdown has-megaitem">
                        <a href="product-details-default.html"
                          >Shop <i class="fa fa-angle-down"></i
                        ></a> -->
                        <!-- Mega Menu -->
                        <div class="mega-menu">
                          <ul class="mega-menu-inner">
                            <li class="mega-menu-item">
                              <ul class="mega-menu-sub">
                                
                                <li><a href="/product/cart-disply">Cart</a></li>
                                <li>
                                  <a href="">Empty Cart</a>
                                </li>
                                <li><a href="">Wishlist</a></li>
                                <li><a href="">Checkout</a></li>
                                <li><a href="/userlogin">Login</a></li>
                                <li>
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <!-- Mega Menu Sub Link -->
                          <div class="menu-banner">
                            <a href="#" class="menu-banner-link">
                              <img
                                class="menu-banner-img"
                                src="assets/images/banner/menu-banner.jpg"
                                alt=""
                              />
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- End Header Main Menu Start -->

                <!-- Start Header Action Link -->
                <ul
                  class="header-action-link action-color--black action-hover-color--golden"
                >
                  <li>
                    <a href="" class="offcanvas-toggle">
                      <i class="icon-heart"></i>
                      <span class="item-count">0</span>
                    </a>
                  </li>

                  <li>
                    <a href="/user_profile">
                      <i class="icon-user"> </i>
                    </a>
                  </li>

                  <li>
                    <a href="/product/cart-disply">
                        <i class="icon-bag"></i>
                        <span class="item-count"></span>
                </li>

                  <!-- <li>
                    <a href="/product/cartdataprint" class="offcanvas-toggle">
                      <i class="icon-bag"></i>
                      <span class="item-count">0</span>
                    </a>
                  </li> -->
                  <li>
                    <a href="#search">
                      <i class="icon-magnifier"></i>
                    </a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      id="pagesDropdown"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><i class="fas fa-user me-1 text-gray fw-normal"></i
                      ></a
                    > -->
                    <div
                      class="dropdown-menu mt-3 shadow-sm"
                      aria-labelledby="pagesDropdown"
                    >
                      <a
                        class="dropdown-item border-0 transition-link"
                        href="/userlogin"
                        >Login</a
                      >
                      <a
                        class="dropdown-item border-0 transition-link"
                        href="/logout"
                        >Log out</a
                      >
                    </div>
                  </li>

                  <li>
                    <a
                      href="#offcanvas-about"
                      class="offacnvas offside-about offcanvas-toggle"
                    >
                      <i class="icon-menu"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Header Action Link -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Start Header Area -->

    <!-- Start Mobile Header -->
    <div
      class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <!-- Start Mobile Left Side -->
            <div class="mobile-header-left">
              <ul class="mobile-menu-logo">
                <li>
                  <a href="/">
                    <div class="logo">
                      <img src="assets/images/logo/logo_black.png" alt="" />
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Mobile Left Side -->

            <!-- Start Mobile Right Side -->
            <div class="mobile-right-side">
              <ul
                class="header-action-link action-color--black action-hover-color--golden"
              >
                <li>
                  <a href="#search">
                    <i class="icon-magnifier"></i>
                  </a>
                </li>
                <!-- <li>
                  <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                    <i class="icon-heart"></i>
                    <span class="item-count">0</span>
                  </a>
                </li> -->
                <li>
                  <a href="/product/cart-disply" class="btn btn-block btn-golden">View Cart</a>
                 
                    <span class="item-count"></span>
                  </a>
                </li>
                <li>
                  <a
                    href="#mobile-menu-offcanvas"
                    class="offcanvas-toggle offside-menu"
                  >
                    <i class="icon-menu"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Mobile Right Side -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Mobile Header -->

    <!--  Start Offcanvas Mobile Menu Section -->
    <div
      id="mobile-menu-offcanvas"
      class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section"
    >
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
      <!-- End Offcanvas Header -->
      <!-- Start Offcanvas Mobile Menu Wrapper -->
      <div class="offcanvas-mobile-menu-wrapper">
        <!-- Start Mobile Menu  -->
        <div class="mobile-menu-bottom">
          <!-- Start Mobile Menu Nav -->
          <div class="offcanvas-menu">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/product-display">All Product</a>
              </li>
              <li>
                <!-- <a href="/product-details"> Product Details</a> -->
              </li>
            </ul>
          </div>
          <!-- End Mobile Menu Nav -->
        </div>
        <!-- End Mobile Menu -->

        <!-- End Mobile contact Info -->
      </div>
      <!-- End Offcanvas Mobile Menu Wrapper -->
    </div>
    <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div
      id="offcanvas-about"
      class="offcanvas offcanvas-rightside offcanvas-mobile-about-section"
    >
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
      <!-- End Offcanvas Header -->
      <!-- Start Offcanvas Mobile Menu Wrapper -->
      <!-- Start Mobile contact Info -->
      <div class="mobile-contact-info">
        

        <ul class="user-link">
       
                 <li><a href="/userlogin">Login</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <!-- End Mobile contact Info -->
    </div>
    <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->



    <!-- Start Offcanvas Addcart Section -->
    <div
      id="offcanvas-add-cart"
      class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
      <!-- End Offcanvas Header --></div>