<!DOCTYPE html>
<html lang="zxx">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home DEc</title>

    <link
      rel="shortcut icon"
      href="/public/asset/images/favicon.ico"
      type="image/png"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css"
    />

    <link rel="stylesheet" href="/public/asset/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="/public/asset/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="/public/asset/css/style.css" />
  </head>

  <body>
    <!-- Start Header Area -->
    <header class="header-section d-none d-xl-block">
      <div class="header-wrapper">
        <div
          class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden"
        >
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-12 d-flex align-items-center justify-content-between"
              >
                <!-- Start Header Logo -->
                <div class="header-logo">
                  <div class="logo">
                    <!-- -------------------put your log --------------- -->
                  </div>
                </div>
                <!-- End Header Logo -->

                <!-- Start Header Main Menu -->
                <div
                  class="main-menu menu-color--black menu-hover-color--golden"
                >
                  <nav>
                    <ul>
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li>
                        <a href="/product-display">Shop</a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- End Header Main Menu Start -->

                <!-- Start Header Action Link -->
                <ul
                  class="header-action-link action-color--black action-hover-color--golden"
                >
                  <li>
                    <a href="" class="offcanvas-toggle">
                      <i class="icon-heart"></i>
                      <span class="item-count">0</span>
                    </a>
                  </li>

                  <li>
                    <a href="/user_profile">
                      <i class="icon-user"> </i>
                    </a>
                  </li>

                  <li>
                    <a href="/product/cart-disply">
                        <i class="icon-bag"></i>
                        <span class="item-count"></span>
                </li>





            
                  <li>
                    <a href="#search">
                      <i class="icon-magnifier"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="#offcanvas-about"
                      class="offacnvas offside-about offcanvas-toggle"
                    >
                      <i class="icon-menu"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Header Action Link -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Start Header Area -->

    <!-- Start Mobile Header -->
    <div
      class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between">
            <!-- Start Mobile Left Side -->
            <div class="mobile-header-left">
              <ul class="mobile-menu-logo">
                <li>
                  <a href="/">
                    <div class="logo">
                      <!-------------------- put your logo --------------->
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Mobile Left Side -->

            <!-- Start Mobile Right Side -->
            <div class="mobile-right-side">
              <ul
                class="header-action-link action-color--black action-hover-color--golden"
              >
                <li>
                  <a href="#search">
                    <i class="icon-magnifier"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="offcanvas-toggle">
                    <i class="icon-heart"></i>
                    <span class="item-count">3</span>
                  </a>
                </li>
                <li>
                  <a href="" class="offcanvas-toggle">
                    <i class="icon-bag"></i>
                    <span class="item-count">3</span>
                  </a>
                </li>
                <li>
                  <a
                    href="#mobile-menu-offcanvas"
                    class="offcanvas-toggle offside-menu"
                  >
                    <i class="icon-menu"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Mobile Right Side -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Mobile Header -->




    <!--  Start Offcanvas Mobile Menu Section -->
    <div
      id="mobile-menu-offcanvas"
      class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section"
    >
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
      <!-- End Offcanvas Header -->
      <!-- Start Offcanvas Mobile Menu Wrapper -->
      <div class="offcanvas-mobile-menu-wrapper">
        <!-- Start Mobile Menu  -->
        <div class="mobile-menu-bottom">
          <!-- Start Mobile Menu Nav -->
          
          <!-- End Mobile Menu Nav -->
        </div>
        <!-- End Mobile Menu -->

        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
          <div class="logo">
            <a href="/"
              ><img src="assets/images/logo/logo_white.png" alt=""
            /></a>
          </div>

          
          

          <ul class="user-link">
            <li><a href="">Wishlist</a></li>
            <li><a href="/product/cart-disply">Cart</a></li>
            <li><a href="/userlogin">Login</a></li>
            <li><a href="/logout">Logout</a></li>        </ul>
          </ul>
        </div>
        <!-- End Mobile contact Info -->
      </div>
    </div>

    <div
      id="offcanvas-about"
      class="offcanvas offcanvas-rightside offcanvas-mobile-about-section"
    >
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
      <!-- End Offcanvas Header -->
      <!-- Start Offcanvas Mobile Menu Wrapper -->
      <!-- Start Mobile contact Info -->
      <div class="mobile-contact-info">
        <div class="logo">
          <a href="/"><img src="assets/images/logo/logo_white.png" alt="" /></a>
        </div>

        <ul class="user-link">
          <li><a href="">Wishlist</a></li>
          
          <li><a href="/product/cart-disply">Cart</a></li>
          <li><a href="/userlogin">Login</a></li>
          <li><a href="/logout">Logout</a></li>        </ul>
      </div>
      <!-- End Mobile contact Info -->
    </div>
    <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Addcart Section -->
    <div
      id="offcanvas-add-cart"
      class="offcanvas offcanvas-rightside offcanvas-add-cart-section"
    >
      <!-- Start Offcanvas Header -->
      <div class="offcanvas-header text-right">
        <button class="offcanvas-close">
          <i class="ion-android-close"></i>
        </button>
      </div>
    </div>

    <!-- Start Offcanvas Search Bar Section -->
    <div id="search" class="search-modal">
      <button type="button" class="close">×</button>
      <form>
        <input type="search" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-lg btn-golden">Search</button>
      </form>
    </div>
    <!-- End Offcanvas Search Bar Section -->

    <!------- headr posion ending ---------->

