

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


       <li class="nav-item">
        <a class="nav-link " href="/admin/user-list">
          <i class="bi bi-grid"></i>
          <span>Customers List</span>
        </a>
      </li> 
      
      
      <!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/product/category">
          <i class="bi bi-grid"></i>
          <span>Categories</span>
        </a>
      </li><!-- End Dashboard Nav -->




      <li class="nav-item">
        <a class="nav-link " href="/product/category-list">
          <i class="bi bi-grid"></i>
          <span>Category List</span>
        </a>
      </li><!-- End Dashboard Nav -->

    
      
      <li class="nav-item">
        <a class="nav-link " href="/product/add-product">
          <i class="bi bi-grid"></i>
          <span>Add Products</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/product/product-lists">
          <i class="bi bi-grid"></i>
          <span>Product List</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/coupon">
          <i class="bi bi-grid"></i>
          <span>Coupon Management</span>
        </a>
      </li><!-- End Dashboard Nav -->
    </ul>

  </aside><!-- End Sidebar-->
